.header-nav a::after {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin: 50px 0 0 0 !important;
}

[role=button] {
  cursor: pointer;
}

nav {
  background-color: #0b2836;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1060;
  margin: 0 auto;
}
nav h2, nav p, nav li {
  color: #ffffff;
}
nav h2 {
  font-size: 26px;
  margin: 0 0 15px 0;
  line-height: 1;
  text-align: left;
  border-bottom: 1px solid #56dbd6;
  padding-bottom: 5px;
}
@media (max-width: 767px) {
  nav h2 {
    font-size: 3.1690140845vw;
    padding-bottom: 0.8802816901vw;
  }
}
@media (max-width: 543px) {
  nav h2 {
    font-size: 6.25vw;
    padding-bottom: 1.5625vw;
  }
}
nav h2 span {
  color: #56dbd6;
  font-weight: 500;
  font-size: 75%;
}
nav p, nav li {
  font-size: 18px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  nav p, nav li {
    font-size: 2.1126760563vw;
  }
}
@media (max-width: 543px) {
  nav p, nav li {
    font-size: 3.75vw;
  }
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  margin-bottom: 10px;
  list-style-type: none;
  padding-left: 30px;
  position: relative;
}
nav li::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: solid 2px #56dbd6;
  top: 6px;
  left: 6px;
}
nav li a {
  color: #56dbd6;
  border-bottom: dotted 1px #56dbd6;
}
nav li a:hover, nav li a:focus {
  color: #78e2de;
  border-bottom-color: #78e2de;
}
nav .container-fluid {
  position: relative;
  z-index: 2;
}
nav .row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}
nav[data-collapsed=true] .header-nav.collapse a.toggle-description::before {
  content: "Show";
}
nav[data-collapsed=true] .header-content {
  right: 100%;
}
nav[data-collapsed=false] {
  bottom: 0;
}
nav[data-collapsed=false] .header-nav.collapse a.toggle-description::before {
  content: "Hide";
}
nav[data-collapsed=false] .header-nav.collapse a.toggle-description::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
nav .case-study-nav {
  margin-top: 30px;
}
nav .case-study-nav .collapse a {
  color: #0b2836;
  background-color: #56dbd6;
  font-weight: 500;
}
nav .case-study-nav .collapse a::after {
  -webkit-filter: invert(14%) sepia(22%) saturate(1296%) hue-rotate(155deg) brightness(92%) contrast(100%);
          filter: invert(14%) sepia(22%) saturate(1296%) hue-rotate(155deg) brightness(92%) contrast(100%);
}

.header-nav, .header-title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav {
  padding: 8px 15px;
  width: 30%;
}
@media (min-width: 768px) {
  .header-nav {
    width: 195px;
  }
}
.header-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  color: #56dbd6;
  font-size: 16px;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 8px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding-bottom: 4px;
}
.header-nav a::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2014.15%2014.12%22%3E%3Cpath%20d%3D%22M14.14%2C3.77v0Z%22%20transform%3D%22translate(0.01)%22%20fill%3D%22lime%22%2F%3E%3Cpath%20d%3D%22M0%2C3.77H0V3.63A.33.33%2C0%2C0%2C0%2C0%2C3.77Z%22%20transform%3D%22translate(0.01)%22%20fill%3D%22lime%22%2F%3E%3Cpath%20d%3D%22M3.69%2C0a.48.48%2C0%2C0%2C0-.41.48V13.64a.48.48%2C0%2C0%2C0%2C.41.48h.14a1%2C1%2C0%2C0%2C0%2C.66-.27l6.09-6.09a1%2C1%2C0%2C0%2C0%2C0-1.41L4.48.27A1%2C1%2C0%2C0%2C0%2C3.82%2C0Z%22%20transform%3D%22translate(0.01)%22%20fill%3D%22rgb(0%2C0%2C0)%22%2F%3E%3C%2Fsvg%3E");
  top: 2px;
  width: 30px;
  height: 30px;
  -webkit-filter: invert(76%) sepia(29%) saturate(668%) hue-rotate(128deg) brightness(92%) contrast(101%);
          filter: invert(76%) sepia(29%) saturate(668%) hue-rotate(128deg) brightness(92%) contrast(101%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.75;
}
@media (min-width: 768px) {
  .header-nav a::after {
    position: absolute;
  }
}
.header-nav a:hover, .header-nav a:focus {
  color: #ffffff;
  outline: none;
}
.header-nav a:hover::after, .header-nav a:focus::after {
  opacity: 1;
}
.header-nav.prev a::after, .header-nav.next a::after {
  position: absolute;
}
@media (max-width: 767px) {
  .header-nav.prev {
    padding-left: 0;
  }
}
.header-nav.prev a {
  text-align: left;
  padding-left: 35px;
}
.header-nav.prev a::after {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 767px) {
  .header-nav.next {
    padding-right: 0;
  }
}
.header-nav.next a {
  padding-right: 35px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-nav.next a::after {
  right: 0;
}
.header-nav.collapse {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
@media (min-width: 768px) {
  .header-nav.collapse {
    -webkit-column-gap: 165px;
       -moz-column-gap: 165px;
            column-gap: 165px;
  }
}
.header-nav.collapse a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #233e4a;
  border: solid 1px #3c535e;
  padding-bottom: 2px;
}
.header-nav.collapse a:hover, .header-nav.collapse a:focus {
  border: solid 1px #56dbd6;
  outline: none;
}
.header-nav.collapse a.toggle-description {
  width: 100%;
}
@media (min-width: 768px) {
  .header-nav.collapse a.toggle-description {
    width: 180px;
  }
}
.header-nav.collapse a.toggle-description::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 15px;
  width: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  top: 3px;
  right: auto;
}
.header-nav.collapse a.home {
  width: 40px;
  height: 30px;
}
.header-nav.collapse a.home::after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2080%2076.55%22%3E%3Cpolygon%20points%3D%2221.82%2011.03%2021.82%205.48%2011.86%205.48%2011.86%2019.88%2021.82%2011.03%22%20fill%3D%22rgb(0%2C0%2C0)%22%2F%3E%3Cpath%20d%3D%22M40%2C14%2C11.86%2C39V75a1.52%2C1.52%2C0%2C0%2C0%2C1.52%2C1.52H66.63A1.52%2C1.52%2C0%2C0%2C0%2C68.15%2C75h0V39Zm14%2C42.7H43.44v10.2h-6.8V56.73H26V50.37H36.61v-10h6.83v10H54Z%22%20fill%3D%22rgb(0%2C0%2C0)%22%2F%3E%3Cpolygon%20points%3D%224.31%2040.38%200%2035.53%2040%200%2080%2035.52%2075.69%2040.38%2040%208.69%204.31%2040.38%22%20fill%3D%22rgb(0%2C0%2C0)%22%2F%3E%3C%2Fsvg%3E");
  width: 45px;
  height: 23px;
}

.header-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 10px;
}

.header-content {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: linear-gradient(top, rgb(11, 40, 54) 0, rgb(11, 40, 54) 50px, rgba(11, 40, 54, 0.85) 100px, rgba(11, 40, 54, 0.85) 100%);
  background-image: -webkit-linear-gradient(top, rgb(11, 40, 54) 0, rgb(11, 40, 54) 50px, rgba(11, 40, 54, 0.85) 100px, rgba(11, 40, 54, 0.85) 100%);
}
@media (min-width: 768px) {
  .header-content {
    right: calc(100% - 600px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header-content > div {
  padding: 90px 45px 0 45px;
  width: 600px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 767px) {
  .header-content > div {
    width: 100vw;
    padding: 75px 30px 0 15px;
  }
}