@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Cabin+Condensed:wght@400;500&display=swap");
.header-nav.header-title > a::after {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

[role=button] {
  cursor: pointer;
}

nav h1, nav h2 {
  font-family: "Boogaloo", sans;
  font-weight: normal;
}
nav#header-nav {
  background-color: #0b2836;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1060;
  margin: 0 auto;
}
nav#header-nav h2 {
  font-size: 26px;
  color: #ffffff;
  margin: 1rem 0;
  line-height: 1;
  text-align: left;
  padding-bottom: 5px;
}
@media (max-width: 767px) {
  nav#header-nav h2 {
    font-size: 3.1690140845vw;
    padding-bottom: 0.8802816901vw;
  }
}
@media (max-width: 543px) {
  nav#header-nav h2 {
    font-size: 6.25vw;
    padding-bottom: 1.5625vw;
  }
}
nav#header-nav h2 span {
  color: #56dbd6;
  font-weight: 500;
  font-size: 75%;
}
nav#header-nav p, nav#header-nav li {
  color: #555555;
  font-size: 18px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  nav#header-nav p, nav#header-nav li {
    font-size: 2.1126760563vw;
  }
}
@media (max-width: 543px) {
  nav#header-nav p, nav#header-nav li {
    font-size: 3.75vw;
  }
}
nav#header-nav ul {
  padding: 0;
  margin: 0;
}
nav#header-nav ul.project-details li {
  margin-bottom: 10px;
  list-style-type: none;
  padding-left: 30px;
  position: relative;
}
nav#header-nav ul.project-details li::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: solid 2px #56dbd6;
  top: 6px;
  left: 6px;
}
nav#header-nav ul.project-details li a {
  color: #56dbd6;
  border-bottom: dotted 1px #56dbd6;
}
nav#header-nav ul.project-details li a:hover, nav#header-nav ul.project-details li a:focus {
  color: #78e2de;
  border-bottom-color: #78e2de;
}
nav#header-nav ul.toggle-links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  padding: 0 15%;
}
nav#header-nav ul.toggle-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 16px;
}
nav#header-nav ul.toggle-links a {
  width: 100%;
  padding: 60px 10px 30px 10px;
  border: solid 2px #56dbd6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav#header-nav .container-fluid {
  position: relative;
  z-index: 2;
}
nav#header-nav .row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}
nav#header-nav[data-collapsed=true] .header-collapse a.toggle-description::before {
  content: "Expand";
}
nav#header-nav[data-collapsed=true] .header-collapse .arrow {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
nav#header-nav[data-collapsed=true] .header-content {
  -webkit-box-shadow: 0 0 30px 0 rgba(86, 219, 214, 0.5);
          box-shadow: 0 0 30px 0 rgba(86, 219, 214, 0.5);
}
nav#header-nav[data-collapsed=true] .case-study {
  padding-top: 0;
  padding-bottom: 0;
}
nav#header-nav[data-collapsed=false] {
  bottom: 0;
}
nav#header-nav[data-collapsed=false] .header-collapse a.toggle-description::before {
  content: "Collapse";
}
nav#header-nav[data-collapsed=false] .header-collapse .arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
nav#header-nav .case-study-nav {
  background: #0b2836;
  border-radius: 1.8rem 1.8rem 0 0;
}
nav#header-nav .case-study-nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}
nav#header-nav .case-study-nav > div:last-of-type {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}
nav#header-nav .case-study-nav > div:last-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 33%;
  right: 33%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(86, 219, 214, 0)), color-stop(50%, rgb(86, 219, 214)), to(rgba(86, 219, 214, 0)));
  background: linear-gradient(to right, rgba(86, 219, 214, 0) 0%, rgb(86, 219, 214) 50%, rgba(86, 219, 214, 0) 100%);
}
nav#header-nav .case-study-nav > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0 0.5rem 0;
}
nav#header-nav .case-study-nav > div > div:first-of-type a {
  border-left: none;
}
nav#header-nav .case-study-nav > div > div:last-of-type a {
  border-right: none;
}
nav#header-nav .case-study-nav a {
  padding: 0.5rem 2rem;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  position: relative;
}
nav#header-nav .case-study-nav a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 219, 214, 0)), color-stop(50%, rgb(86, 219, 214)), to(rgba(86, 219, 214, 0)));
  background: linear-gradient(to bottom, rgba(86, 219, 214, 0) 0%, rgb(86, 219, 214) 50%, rgba(86, 219, 214, 0) 100%);
}
nav#header-nav .case-study-nav a:focus {
  outline: none;
}
nav#header-nav .case-study-nav a:hover, nav#header-nav .case-study-nav a:focus {
  color: #78e2de;
}
nav#header-nav .case-study-nav .arrow {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
nav#page-nav {
  position: fixed;
  top: 0;
  left: calc(50% - 585px);
  bottom: 0;
  width: 190px;
  background-color: #ae3143;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav#page-nav h1 {
  font-size: 42px;
  line-height: 1;
  margin: 90px 0 0 0;
  color: #ffffff;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.25);
}
nav#page-nav h2 {
  background: none;
  font-size: 32px;
  color: #e45631;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}
nav .nav-content {
  height: 620px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: calc(50% - 120px);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
}
nav .logo-container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 240px;
}
nav .logo {
  position: absolute;
  left: -30px;
  right: -30px;
  height: 240px;
  background-color: #932755;
  top: 0;
  border-radius: 50%;
  border: solid 8px rgba(255, 255, 255, 0.85);
  border-left-width: 12px;
  border-right-width: 12px;
  text-align: center;
}
nav .nav-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav .nav-links li {
  font-size: 2.4rem;
  font-family: "Boogaloo", sans-serif;
  line-height: 1.8;
  margin: 10px 0;
}
nav .nav-links a {
  color: #ffffff;
  border-bottom: solid 2px #e45631;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
nav .nav-links a:hover {
  border-bottom-color: transparent;
  text-decoration: none;
}

.header-nav, .header-title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav .prev, .header-nav .next {
  width: 30%;
}
@media (min-width: 768px) {
  .header-nav .prev, .header-nav .next {
    width: 195px;
  }
}

.header-nav {
  padding: 8px 15px;
}
.header-nav.prev a, .header-nav.next a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  color: #56dbd6;
  font-size: 16px;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding-bottom: 4px;
}
.header-nav.prev a:hover, .header-nav.prev a:focus, .header-nav.next a:hover, .header-nav.next a:focus {
  color: #ffffff;
  outline: none;
}
.header-nav.prev a:hover::after, .header-nav.prev a:focus::after, .header-nav.next a:hover::after, .header-nav.next a:focus::after {
  opacity: 1;
}
.header-nav.prev a::after, .header-nav.next a::after {
  position: absolute;
}
@media (max-width: 767px) {
  .header-nav.prev {
    padding-left: 0;
  }
}
.header-nav.prev a {
  text-align: left;
  padding-left: 35px;
}
.header-nav.prev a::after {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 767px) {
  .header-nav.next {
    padding-right: 0;
  }
}
.header-nav.next a {
  padding-right: 35px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-nav.next a::after {
  right: 0;
}
.header-nav.header-title {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 0;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.header-nav.header-title h1 {
  color: #ffffff;
  border: none;
  margin: 0;
  font-size: 2.5rem;
}
.header-nav.header-title > a {
  width: 40px;
  height: 30px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #56dbd6;
  font-size: 16px;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #06141b;
  border: solid 1px #85949b;
  padding-bottom: 2px;
}
.header-nav.header-title > a::after {
  content: "";
  top: 2px;
  -webkit-filter: invert(76%) sepia(29%) saturate(668%) hue-rotate(128deg) brightness(92%) contrast(101%);
          filter: invert(76%) sepia(29%) saturate(668%) hue-rotate(128deg) brightness(92%) contrast(101%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.75;
  width: 45px;
  height: 23px;
}
@media (min-width: 768px) {
  .header-nav.header-title > a::after {
    position: absolute;
  }
}
.header-nav.header-title > a:hover, .header-nav.header-title > a:focus {
  border: solid 1px #56dbd6;
  outline: none;
  background-color: #56dbd6;
}
.header-nav.header-title > a:hover::after, .header-nav.header-title > a:focus::after {
  -webkit-filter: invert(12%) sepia(7%) saturate(6404%) hue-rotate(159deg) brightness(90%) contrast(93%);
          filter: invert(12%) sepia(7%) saturate(6404%) hue-rotate(159deg) brightness(90%) contrast(93%);
}
.header-nav.header-title > a.home::after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2080%2076.55%22%3E%3Cpolygon%20points%3D%2221.82%2011.03%2021.82%205.48%2011.86%205.48%2011.86%2019.88%2021.82%2011.03%22%20fill%3D%22rgb(0%2C0%2C0)%22%2F%3E%3Cpath%20d%3D%22M40%2C14%2C11.86%2C39V75a1.52%2C1.52%2C0%2C0%2C0%2C1.52%2C1.52H66.63A1.52%2C1.52%2C0%2C0%2C0%2C68.15%2C75h0V39Zm14%2C42.7H43.44v10.2h-6.8V56.73H26V50.37H36.61v-10h6.83v10H54Z%22%20fill%3D%22rgb(0%2C0%2C0)%22%2F%3E%3Cpolygon%20points%3D%224.31%2040.38%200%2035.53%2040%200%2080%2035.52%2075.69%2040.38%2040%208.69%204.31%2040.38%22%20fill%3D%22rgb(0%2C0%2C0)%22%2F%3E%3C%2Fsvg%3E");
}
.header-nav.header-title > a.about::after {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20id%3D%22a%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2094.4%20213.99%22%3E%0A%20%20%3Cpath%20d%3D%22m0%2C95.38c2.51-.82%2C4.38-1.44%2C6.25-2.03%2C5.56-1.74%2C11.18-2.43%2C16.96-1.19%2C5.22%2C1.12%2C7.86%2C3.4%2C8.05%2C8.77.18%2C5.29-.05%2C10.76-1.21%2C15.9-2.32%2C10.31-5.36%2C20.46-8.17%2C30.66-3.17%2C11.52-6.69%2C22.92-7.59%2C34.97-.92%2C12.3%2C5.17%2C23.09%2C16.4%2C27.96%2C8.67%2C3.76%2C17.9%2C4.47%2C26.78%2C2.5%2C10.14-2.24%2C19.89-6.23%2C29.79-9.52.63-.21%2C1.41-.84%2C1.56-1.43.95-3.55%2C1.75-7.14%2C2.69-11.13-1.16.34-1.73.49-2.3.68-6.78%2C2.34-13.6%2C4.06-20.88%2C2.48-5.47-1.19-8.22-3.18-8.58-8.77-.34-5.38.1-10.99%2C1.28-16.25%2C2.35-10.43%2C5.43-20.7%2C8.24-31.03%2C3.23-11.88%2C7.26-23.55%2C7.37-36.11.08-9.94-3.16-18.03-11.51-23.74-7.12-4.87-15.24-5.86-23.57-5.66-13.25.32-25.16%2C5.67-37.26%2C10.26-.83.32-1.59%2C1.53-1.87%2C2.48-.89%2C3.09-1.54%2C6.26-2.46%2C10.19Zm67.53-45.68c14.79.14%2C26.69-10.63%2C26.87-24.33C94.58%2C11.44%2C82.8.08%2C68.06%2C0c-14.71-.08-26.91%2C11.14-26.99%2C24.84-.08%2C13.6%2C11.75%2C24.72%2C26.46%2C24.86Z%22%20fill%3D%22rgb(0%2C0%2C0)%22%20stroke-width%3D%220%22%2F%3E%0A%3C%2Fsvg%3E");
}

.header-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 10px;
}
.header-content {
  position: fixed;
  left: calc(50% - 300px);
  width: 600px;
  z-index: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: white;
  -webkit-box-shadow: 0 0 45px 0 rgba(11, 40, 54, 0.85);
          box-shadow: 0 0 45px 0 rgba(11, 40, 54, 0.85);
  border: solid 2px rgba(255, 255, 255, 0.5);
}
@media (min-width: 768px) {
  .header-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header-content.top {
  top: 50px;
  border-radius: 0 0 2rem 2rem;
  border-top: none;
  display: none;
}
.header-content.bottom {
  bottom: 0;
  border-radius: 2rem 2rem 0 0;
  border-bottom: none;
}
.header-content .case-study {
  padding: 30px 30px 15px 30px;
  width: 600px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 767px) {
  .header-content .case-study {
    width: 100vw;
    padding: 75px 30px 0 15px;
  }
}

.header-collapse .arrow {
  position: absolute;
}

.header-overlay {
  background: rgba(11, 40, 54, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}