{% macro common() %}
    <link rel="stylesheet" href="../assets/fonts.css">
    <link rel="stylesheet" href="../assets/header.css">
    <link rel="stylesheet" href="../assets/bootstrap-grid.css">
    <link rel="stylesheet" href="../assets/modal.bootstrap.css">
{% endmacro %}

{% macro home() %}
    <link rel="stylesheet" href="../assets/case-studies.css">
{% endmacro %}

{% macro productDisplay() %}
    <link rel="stylesheet" href="../assets/tippy.css">
    <link rel="stylesheet" href="../assets/swiper.css">
    <link rel="stylesheet" href="../assets/product-display.css">
{% endmacro %}

{% macro mattress() %}
    <link rel="stylesheet" href="../assets/product-mattress.css">
    <link rel="stylesheet" href="../assets/product-shop-opm-gallery.css">
    <link rel="stylesheet" href="../assets/module-our-way.css">
    <link rel="stylesheet" href="../assets/product-display-modal-financing.css">
    <link rel="stylesheet" href="../assets/product-display-modal-size-guide-mattress.css">
    <link rel="stylesheet" href="../assets/product-display-modal-upsell-funnel.css">
{% endmacro %}

{% macro sheets() %}
    <link rel="stylesheet" href="../assets/product-display-color+quantity.css">
    <link rel="stylesheet" href="../assets/product-cotton-sheets.css">
    <link rel="stylesheet" href="../assets/product-display-upsell-list.css">
    <link rel="stylesheet" href="../assets/product-display-modal-financing.css">
{% endmacro %}

{% macro frame() %}
  <link rel="stylesheet" href="../assets/product-display-color+quantity.css">
  <link rel="stylesheet" href="../assets/product-frame.css">
  <link rel="stylesheet" href="../assets/product-display-modal-financing.css">
  <link rel="stylesheet" href="../assets/product-display-modal-size-guide.css">
{% endmacro %} 

{% macro mattressAnimation() %}
    <link rel="stylesheet" href="../assets/product-display.css">
    <link rel="stylesheet" href="../assets/promotion-mattress-animation.css">
    <link rel="stylesheet" href="../assets/product-shop-opm-gallery.css">
{% endmacro %}

{% macro valueProps() %}
    <link rel="stylesheet" href="../assets/product-display.css">
    <link rel="stylesheet" href="../assets/promotion-mattress-animation.css">
    <link rel="stylesheet" href="../assets/promotion-value-propositions.css">
{% endmacro %}

{% macro tiktok() %}
    <link rel="stylesheet" href="../assets/swiper.css">
    <link rel="stylesheet" href="../assets/bootstrap-grid.css">
    <link rel="stylesheet" href="../assets/modal.bootstrap.css">
    <link rel="stylesheet" href="../assets/product-display-modal-financing.css">
    <link rel="stylesheet" href="../assets/promotion-tiktok.css">
{% endmacro %}