{% import "./../views/_css.html" as _css %}
{% import "./../views/_modules.html" as _modules %}
{% import "./../views/_js.html" as _js %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3, user-scalable=yes"/>
  <title>{% block title %}{% endblock %}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {{ _css.common() }}
  {% block styles %}
  {% endblock %}
</head>

<body>
  {{ _modules.header(p) }}
  
  <main>	
    {% block content %}
      <p>Missing content block</p>
    {% endblock %}
  </main>
  
  {{ _js.headerScripts() }}
  <script src="../assets/nav.js"></script>
  {%- for script in scripts -%}
    <script src="../assets/{{ script }}.js"></script>
  {%- endfor -%}
  <script>
    $('#header-nav').autoHidingNavbar();
    {% if p.toggleLinks.length %}
      const toggleLinks = document.querySelectorAll('.toggle-links a');
      const iframe = document.querySelector('iframe');
      toggleLinks.forEach(link => {
        link.addEventListener('click', event => {
          event.preventDefault();
          const target = link.dataset.target;
          iframe.setAttribute('src', target);
        })
      });
    {% endif %}
  </script>
  {% block scripts %}
  {% endblock %}
</body>
</html>