{% extends "./src/client/views/_layout_home.html" %}
{% import "./src/client/views/_css.html" as _css %}
{% import "./src/client/views/_js.html" as _js %}
{% import "./src/client/views/_modals.html" as _modals %}
{% import "./src/client/views/_modules.html" as _modules %}

{% block styles %}
  {{ _css.common() }}
  {{ _css.home() }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block meta %}
  <meta name="description" content="{{ description }}">
{% endblock %}

{% block content %}
  {{ _modules.pageNav() }}


  {% set caseNumber = 1 %}
  <section class="case-study">
    <div class="container">
      <div class="row">
        <div class="case col-xs-12 col-sm-8 col-sm-offset-3">
          <div class="case-studies row">
            {% for cs in caseStudies %}
              <div class="item" {% if cs.background.length %}style="background-image: url('{{ cs.background }}')"{% endif %}>
                <a href="{{ cs.url }}" title="{{ cs.title }}">
                  <span class="case-number">0{{- cs.pageId -}}</span>
                  <span class="case-title">{{ cs.title }}</span>
                </a>
                
                <!-- <p>{{ cs.intro }}</p> -->
              </div>
            {% endfor %}
          </div>
        </div>
        
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
<script>
  var winHeight = window.innerHeight,
      pages = document.querySelectorAll('section'),
      navLinks = document.querySelectorAll('#menu-nav a'),
      currentPage = 0;

  window.addEventListener('mousewheel', function(e){
    scrollPages(e.wheelDelta);
  });
  window.addEventListener('DOMMouseScroll', function(e){
    scrollPages(-1 * e.detail);
  });

  function scrollPages(delta){
    var direction = (delta > 0) ? 'up' : 'down',
      currentPageOffset = currentPage * winHeight;
    
    if(direction == 'down' && currentPage <= pages.length - 2) {
      window.scrollTo({
        top: currentPageOffset + winHeight,
        behavior: 'smooth',
      });
      currentPage++;
    } else if(direction == 'up' && currentPage > 0) {
      window.scrollTo({
        top: currentPageOffset - winHeight,
        behavior: 'smooth'
      });
      currentPage--;
    }
  }

  // for(var i = 0; i < navLinks.length; i++){
  //   navLinks[i].addEventListener('click', updateNav(i));
  // }

  // function updateNav(i){
  //   return function(){
  //     for(var j=0 ; j < navLinks.length; j++) {
  //       navLinks[j].parentNode.classList.remove('current');
  //     }
  //     navLinks[i].parentNode.classList.add('current');
  //     currentPage = i;
  // }
  // }
</script>
{% endblock %}