{% extends "./src/client/views/_layout_home.html" %}
{% import "./src/client/views/_css.html" as _css %}
{% import "./src/client/views/_js.html" as _js %}
{% import "./src/client/views/_modals.html" as _modals %}
{% import "./src/client/views/_modules.html" as _modules %}

{% block styles %}
  {{ _css.home() }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block meta %}
  <meta name="description" content="{{ description }}">
{% endblock %}

{% block content %}

  {% set caseNumber = 1 %}
  <section class="case-study">
    <div class="container">
      <div class="row">
        <div class="intro">
          <h1>Justin Ziegler<br class="hidden-sm"><span>Recent Work</span></h1>
          <!-- <p>I'm a <strong>front-end developer</strong> with an eye for detail and <br />
            a knack for building eye-catching user experiences.
                <br />
                Keep scrolling to view some recent projects, or<br /> 
                visit my  <a href="https://github.com/justinziegler" rel="noreferrer" target="_blank">Github</a> for code examples.
        </p> -->
        </div>
        <div class="case-studies">
          {% for cs in caseStudies %}
            <div class="item" {% if cs.background.length %}style="background-image: url('{{ cs.background }}')"{% endif %}>
              <a href="{{ cs.url }}" title="{{ cs.title }}">
                {% if loop.index !== caseStudies.length %}
                  <span class="case-number">0{{- cs.pageId -}}.</span>
                {% endif %}
                <span class="case-title">{{ cs.title }}</span>
              </a>
              
            </div>
          {% endfor %}
        </div>
        
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}  
{% endblock %}