{% extends "./src/client/views/_layout_home.html" %}
{% import "./src/client/views/_css.html" as _css %}
{% import "./src/client/views/_js.html" as _js %}
{% import "./src/client/views/_modules.html" as _modules %}

{% block styles %}
  {{ _css.common() }}
  {{ _css.home() }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block meta %}
  <meta name="description" content="{{ description }}">
{% endblock %}

{% block content %}
  {% macro getCaseStudies(caseStudies) %}
    {% for cs in caseStudies %}
      <section class="case-studies">
        <div class="container">
          <div class="row">
                <div class="case-study col-xs-12 col-sm-10 col-sm-offset-1">
                  <h2><span>Case Study:</span> {{ cs.title }}</h2>
                  <h3>{{ cs.intro }}</h3>
                  <ul>
                    {% for bullet in cs.bullets %}
                      <li>{{ bullet }}</li>
                    {% endfor %}
                  </ul>
                  <p>{{ cs.details }}</p>
                  <div class="thumbnails row">
                    
                    {% for thumb in cs.thumbnails %}
                      <div class="col-xs-5 col-sm-3 
                        {% if loop.index == 1 -%}
                          col-xs-offset-1 col-sm-offset-0 col-lg-offset-1
                        {% endif %}
                        {% if loop.index == 3 -%}
                          col-xs-offset-1 col-sm-offset-0
                        {%- endif -%}
                        ">
                        <div class="thumbnail">
                          <a href="{{ thumb.link }}">
                          <span data-number="0{{ loop.index }}.">
                            {{ thumb.title }}
                          </span>
                          </a>
                        </div>
                      </div>
                    {% endfor %}
                    <div class="header-nav next col-xs-5 col-sm-3 col-lg-2">
                      <a href="{{ cs.thumbnails[0].link }}">
                        <span>Start</span>
                      </a>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </section>
    {% endfor %}
  {% endmacro %}
  {{ getCaseStudies(caseStudies) }}
{% endblock %}

{% block scripts %}

{% endblock %}