{% extends "_layout_product.html" %}
{% import "_m_css.html" as _m_css %}
{% import "_m_js.html" as _m_js %}
{% import "_m_yotpo.html" as _m_yotpo %}
{% import "_m_svg.html" as _m_svg %}
{% import "_m_modules.html" as _m_modules %}

{% block styles %}
  {% if state.config.env == 'local' %}
    {{ _m_css.islayframe() }}
  {% else %}
    <link rel="preload" href="../assets/swiper.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="../assets/product-display.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="../assets/islay-frame.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      {{ _m_css.islayframe() }}
    </noscript>
  {% endif %}
{% endblock %}

{% block title %}{{ Title }}{% endblock %}


{% block content %}

{% set mp = 0 %}
{% for item in products.result %}
  {% if item.sku == 'LU-UU-DS-TW' %}
    {% set mp = calculateMonthlyPayment(item.price, discountActual) %}
  {% endif %}
{% endfor %}

{% set suggestedItems = [
  {
    title: 'More Lull Favorites',
    items: [
      {
        itemName: 'Luxe Hybrid Mattress',
        shortName: 'luxe',
        linkName: 'luxe hybrid',
        url: 'shop-luxe',
        description: 'A luxurious combination of comfort, support, and cooling technology.'
      },
      {
        itemName: 'Original Lull Mattress',
        shortName: 'mattress',
        linkName: 'original',
        url: 'shop',
        description: 'Lull\'s premium gel memory foam mattress.<br>&nbsp;'
      },
			{
				itemName: 'Mattress Protector',
				shortName: 'protector',
				linkName: 'protector',
				url: 'mattress-protector',
				description: 'Extend the life of your Lull Mattress and keep it safe from spills, stains and allergens.'
			},
      {
        itemName: 'Lull Mattress Foundation',
        shortName: 'foundation',
        linkName: 'foundation',
        url: 'mattress-foundation',
        description: 'The box spring reimagined. Ultra sturdy support that\'s easy to assemble.'
      },
      {
        itemName: 'Original Lull Pillow',
        shortName: 'pillow',
        linkName: 'pillow',
        url: 'pillow',
        description: 'A three-layer design provides the perfect combination of comfort and support.'
      },
      {
        itemName: 'Original Lull Duvet',
        shortName: 'duvet',
        linkName: 'duvet',
        url: 'duvet-insert',
        description: 'Millions of premium fibers keep you warm in the winter and cool in the summer.'
      },
      {
        itemName: 'Cotton Blend Sheets',
        shortName: 'cotton-sheets',
        linkName: 'sheets',
        url: 'cotton-blend-sheets',
        description: 'Silky, soft, and breathable &ndash; high quality sheets at an unbeatable price.'
      }
    ]
  }
]%}
{{ _m_modules.suggestedItems(suggestedItems) }}

{% set faq = [
  {
    question: 'What is an upholstered bed frame?',
    answer: 'Upholstered bed frames feature padding and either a textile or fabric overlay around the frame. The variations in design offer tufted and untufted headboards, for a sophisticated or more minimalist feel.'
  },
  {
    question: 'Does the ' + getProductName('UU') + ' require any tools for assembly?',
    answer: 'All of the tools and hardware needed to put the ' + getProductName('UU') + ' together are included in your shipment—simply follow our <a href="https://static.lull.com/media/upholstered-bed-frame/lull-islay-bed-frame-assembly-instructions.pdf" target="_blank">step-by-step instructions</a> for safe and easy assembly.'
  },
  {
    question: 'What is the ' + getProductName('UU') + ' made of?',
    answer: '<div class="chart-head row">
              <div class="col-xs-6"><p>Component</p></div>
              <div class="col-xs-6"><p>Material</p></div>
            </div>
            <div class="chart-body row">
              <div class="col-xs-6"><p>Headboard</p></div>
              <div class="col-xs-6"><p>Wood</p></div>
              <div class="col-xs-6"><p>Rails</p></div>
              <div class="col-xs-6"><p>Wood</p></div>
              <div class="col-xs-6"><p>Slats</p></div>
              <div class="col-xs-6"><p>Wood</p></div>
              <div class="col-xs-6"><p>Fabric</p></div>
              <div class="col-xs-6"><p>Polyester</p></div>
              <div class="col-xs-6"><p>Center Beam</p></div>
              <div class="col-xs-6"><p>Steel</p></div>
              <div class="col-xs-6"><p>Corner Joint</p></div>
              <div class="col-xs-6"><p>Steel</p></div>
              <div class="col-xs-6"><p>Legs</p></div>
              <div class="col-xs-6"><p>Plastic</p></div>
              <div class="col-xs-6"><p>Screw</p></div>
              <div class="col-xs-6"><p>Steel</p></div>
            </div>'
  }
]%}
{{- _m_modules.faq(faq) -}}

{# Product Specs module #}
{% set specs = [
  {
    heading: getProductName('UU') + ' Details',
    details: [
      {
        item: 'Construction',
        details: '<strong>Frame:</strong> LVL, Plywood &amp; Fiberboard<br><strong>Fabric:</strong> 100% Polyester',
        classes: 'left-col-xs col-xs-7 col-sm-4 col-sm-offset-1'
      },
      {
        item: 'Shipping Info',
        details: 'Ships in 1-4 business days',
        classes: 'col-xs-5 col-sm-3'
      },
      {
        item: 'clearfix',
        details: '',
        classes: 'visible-xs'
      },
      {
        item: 'Shipping Costs',
        details: __('shipping&Returns'),
        classes: 'left-col-xs col-xs-7 col-sm-4'
      },
      {
        item: 'clearfix',
        details: '',
        classes: 'hidden-xs'
      },
      {
        item: 'Warranty',
        details: '1 year',
        classes: 'col-xs-5 visible-xs'
      },
      {
        item: 'Care Instructions',
        details: '<strong>Fabric:</strong> Spot clean with a mild detergent.<br class="visible-xxs"> Pat Dry.<br><strong>Plastic Legs:</strong> Dust with a dry soft cloth.',
        classes: 'left-col-xs col-xs-12 col-sm-4 col-sm-offset-1'
      },
      {
        item: 'Warranty',
        details: '1 year',
        classes: 'hidden-xs col-sm-3'
      },
      {
        item: 'Assembly Instructions',
        details: '<a href="https://static.lull.com/media/upholstered-bed-frame/lull-islay-bed-frame-assembly-instructions.pdf" target="_blank">Click here to download</a>',
        classes: 'left-col-xs col-xs-12 col-sm-4'
      }
    ]
  }
]%}
{{ _m_modules.specs(products, product, specs) }}
  
{{ _m_yotpo.yotpoRichText(state) }}
{% endblock %}

{% block scripts %}   
{{ _m_js.collapseBootstrap() }}
{{ _m_modules.suggestedItemsScripts() }}
{{ _m_js.swipeIt() }}
{{ _m_modules.lullWayCompactScripts() }} 
<script>
  const speed = .2;

  function nextSlide(slideshow) {
    var current = Number(slideshow.attr('data-current'));
    if (isNaN(current))  current = 1;
    var stage = slideshow.find('.stage');
    var photo = slideshow.closest('.row').find('.photo');
    var max = stage.children().length;
    var next = current + 1;
    if (current < max) {
      slideshow.attr('data-current', next);
      photo.attr('data-current', next);
      stage.attr('style', 'transition: ' + speed + 's ease-in-out;');
    } else { // at max
      next = 1;
      slideshow.attr('data-current', 1);
      photo.attr('data-current', 1);
      var transition = ((max - 1) * speed);
      stage.attr('style', 'transition: ' + transition + 's ease-in-out;');
    }
    slideshow.find('.stage div[data-slide="' + next + '"]').attr('data-active', true).siblings().attr('data-active', false);
    if (slideshow.find('.dots').length) {
      slideshow.find('.dots button[data-slide="' + next + '"]').attr('data-active', true).siblings().attr('data-active', false);
    }
  }

  function prevSlide(slideshow) {
    var current = Number(slideshow.attr('data-current'));
    if (isNaN(current)) current = 1;
    var stage = slideshow.find('.stage');
    var photo = slideshow.closest('.row').find('.photo');
    if (current > 1) {
      var next = (current - 1);
      slideshow.attr('data-current', next);
      photo.attr('data-current', next);
      stage.attr('style', 'transition: ' + speed + 's ease-in-out;');

      slideshow.find('.stage div[data-slide="' + next + '"]').attr('data-active', true).siblings().attr('data-active', false);
      if (slideshow.find('.dots').length) {
        slideshow.find('.dots button[data-slide="' + next + '"]').attr('data-active', true).siblings().attr('data-active', false);
      }
    }
    return current;
  }

  function slideshowDots(dot) {
    dot.attr('data-active', true).siblings().attr('data-active', false);
    var current = Number(dot.closest('.frame').attr('data-current'));
    var slide = Number(dot.data('slide'));
    var transition = speed;
    if (current < slide) {
      transition = (speed * (slide - current));
    } else if (current > slide) {
      transition = (speed * (current - slide));
    }
    dot.closest('.row').find('.photo').attr('data-current', slide);
    dot.closest('.frame').attr('data-current', slide).find('.stage').attr('style', 'transition: ' + transition + 's ease-in-out');
    dot.closest('.frame').find('.stage div[data-slide="' + slide + '"]').attr('data-active', true).siblings().attr('data-active', false);
  }

  var features = new SwipeIt('.features .frame');
  var featuresNav = ('.features .dots button');

  features.on('swipeLeft',function() {
    nextSlide($(this));
  })
  .on('swipeRight',function(e){
    prevSlide($(this));
  });

  $(featuresNav).click(function(e) {
    slideshowDots($(this));
  });

  var dragItem = document.querySelector("#handle");
  var container = document.querySelector(".compare");
  var photo = document.querySelector(".compare .photo");

  var active = false;
  var currentX;
  var initialX;
  var xOffset = (window.innerWidth / 2);
  if (window.innerWidth >= 1200) {
    xOffset = 1200 / 2;
  }

  container.addEventListener("touchstart", dragStart, false);
  container.addEventListener("touchend", dragEnd, false);
  container.addEventListener("touchmove", drag, false);

  container.addEventListener("mousedown", dragStart, false);
  container.addEventListener("mouseup", dragEnd, false);
  container.addEventListener("mousemove", drag, false);

  function dragStart(e) {
    if (e.type === "touchstart") {
      initialX = e.touches[0].clientX - xOffset;
    } else {
      initialX = e.clientX - xOffset;
    }

    if (e.target === dragItem) {
      active = true;
    }
  }

  function dragEnd(e) {
    initialX = currentX;
    active = false;
  }

  function drag(e) {
    if (active) {
      e.preventDefault();
      if (e.type === "touchmove") {
        currentX = e.touches[0].clientX - initialX;
      } else {
        currentX = e.clientX - initialX;
      }
      xOffset = currentX;
      if (currentX < 1200) {
        setTranslate(currentX, dragItem, photo);
      }
    }
  }
  
  $('.compare li').on('keypress click', function(e) {
    if (e.which === 13 || e.type === 'click') {
      const type = this.getAttribute('data-type');
      document.querySelector('.compare').setAttribute('data-type', type);
    }
  });
  $('.color-select li, .type-select li').on('keypress click', function(e) {
    if (e.which === 13 || e.type === 'click') {
      document.querySelector('.compare').setAttribute('data-type', '');
    }
  });
  
  function getTypeCode(x) {
    switch(x.toUpperCase()) {
      case 'CLASSIC': return 'UU';
      case 'TUFTED': return 'TU';
      default: return 'UU';
    }
  }
  
  function setTranslate(xPos, el, mask) {
    var viewportWidth = window.innerWidth;
    var mediaWidth = 992;
    if (viewportWidth >= 992) {
      mediaWidth = 1200;
    }
    el.style.left = `calc(${xPos}px - 30px)`;
    mask.style.left = `${xPos}px`;
    var x = (mediaWidth / 2) - (viewportWidth / 2);
    mask.style.backgroundPosition = `right -${x}px top 50%`;
    
    let xPosPct = xPos / viewportWidth;
    if (viewportWidth > 1200) {
      xPosPct = xPos / mediaWidth;
    }
    
    const classicH2 = document.querySelector('.compare h2[data-type="UU"]');
    const tuftedH2 = document.querySelector('.compare h2[data-type="TU"]');
    if (xPosPct < .5) {
      classicH2.style.opacity = '0';
      tuftedH2.style.opacity = '1';
    } else {
      classicH2.style.opacity = '1';
      tuftedH2.style.opacity = '0';
    }
  }
</script>
{% endblock %}