{% extends "./src/client/views/_layout_home.html" %}
{% import "./src/client/views/_css.html" as _css %}
{% import "./src/client/views/_js.html" as _js %}
{% import "./src/client/views/_modules.html" as _modules %}

{% block styles %}
  {{ _css.common() }}
  {{ _css.valueProps() }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block meta %}
  <meta name="description" content="{{ description }}">
{% endblock %}

{% block content %}
<section class="made-simple">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-5 col-lg-offset-1">
        <h2>Mattress Buying<br> Made Simple</h2>
        <div class="frame" data-current="1">
          <div class="stage">
            {% for item in items %}
              {% set active = loop.index == 1 %}
              <div data-slide="{{ loop.index }}" data-active="{{ active }}" onClick="setItemActive({{ loop.index }})">
                <h4>{{ item.title }}</h4>
                <div class="content">
                  <p>{{ item.details }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="dots">
            {% for item in items %}
              {% set active = loop.index == 1 %}
              <button data-slide="{{ loop.index }}" 
                data-active="{{ active }}" 
                onClick="setBtnActive({{ loop.index}})"
                role="button" tabindex="0"
                >
            </button>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
{{ _js.swipeIt() }}
{{ _js.inViewport() }}
{{ _js.slideShow() }}
<script>
  const mobile = window.innerWidth < 768;
  const stageItems = document.querySelectorAll('.made-simple .stage > div');
  if (!mobile) {
    stageItems.forEach(item => {
      item.setAttribute('role', 'button');
      item.setAttribute('tabIndex', 0);
    })
    const btns = document.querySelectorAll('.made-simple .dots button');
    btns.forEach(btn => { btn.setAttribute('tabIndex', -1); });
  }

  const frame = document.querySelector('.made-simple .frame');
  const dotsContainer = document.querySelector('.made-simple .dots');

  $(frame).inViewport(function(px) {
    if(px) {
      frame.classList.add('autoplay');
    } 
  });

  const madeSimple = new SwipeIt('.made-simple .frame');

  madeSimple
  .on('swipeLeft',function(e) {
    frame.classList.remove('autoplay');
    nextSlide(e.target);
  })
  .on('swipeRight',function(e){
    frame.classList.remove('autoplay');
    prevSlide(e.target);
  });

  function setBtnActive(slideNumber) {
    frame.classList.remove('autoplay');
    const dot = dotsContainer.querySelector(`button[data-slide="${slideNumber}"]`);
    slideshowDots(dot, dotsContainer);
  }

  function setItemActive(slideNumber) {
    if (!mobile) {
    stageItems.forEach(x => {
      x.setAttribute('data-active', false);
    });
    const slide = document.querySelector(`.made-simple .stage > div[data-slide="${slideNumber}"]`)
    slide.setAttribute('data-active', true);
    const dot = dotsContainer.querySelector(`button[data-slide="${slideNumber}"]`);
    slideshowDots(dot, dotsContainer);
  }
  }
</script>
{% endblock %}