{% extends "./src/client/views/_layout_home.html" %}

{% block styles %}
<link rel="stylesheet" href="../assets/promotion-holiday-mode.css">
{% endblock %}

{% block title %}Holiday Mode{% endblock %}

{% block meta %}
<meta name="description" content="Holiday Mode | Justin Ziegler">
{% endblock %}

{% block content %}
<iframe src="./holiday-mode-enabled" frameborder="0"></iframe>
{% endblock %}

{% block scripts %}
<script>
  const modeToggle = document.querySelector('.mode-toggle');
  const modeToggleText = document.querySelector('.mode-toggle-text');
  const iframe = document.querySelector('iframe');
  modeToggle.addEventListener('click', event => {
    event.preventDefault();
    const target = iframe.getAttribute('src');
    let newTarget = 'holiday-mode-disabled';
    let newTargetText = `'evergreen'`;
    if (target === newTarget) {
      newTarget = 'holiday-mode-enabled';
      newTargetText = 'holiday';
    }
    
    console.log('newTarget', newTarget);
    iframe.setAttribute('src', newTarget);
    modeToggleText.textContent = newTargetText;
  })
</script>
{% endblock %} 