{% extends "./src/client/views/_layout_home.html" %}
{% import "./src/client/views/_css.html" as _css %}
{% import "./src/client/views/_js.html" as _js %}
{% import "./src/client/views/_modals.html" as _modals %}

{% block styles %}
  {{ _css.tiktok() }}
{% endblock %}

{% block title %}Great Sleep Starts with Lull{% endblock %}

{% block meta %}
  <meta name="description" content="Check out the mattress worth obsessing over. Start getting life-changing sleep with Lull’s high quality memory foam.">
{% endblock %}

{% block content %} 
<main data-active="false" data-active-nav="reviews" data-active-slide="0">
  <div class="slideshow swiper-container">
    <div class="swiper-wrapper">
      {% macro videoSlides(slides) %}
        {% for slide in slides %}
          <div class="swiper-slide" id="slide{{ loop.index }}" data-slide="{{ loop.index }}" data-cta="{{ slide.cta }}">
            <div class="overlay">
              <div class="content">
                <h2>{{ slide.heading | safe }}</h2>
                <p>{{ slide.content | safe }}</p>
              </div>
            </div>
            <video {% if loop.index == 1 %}autoplay{% endif %} playsinline muted defaultMuted class="lazyload">
              <source src="{{ slide.videoUrl }}" type="video/mp4"></source>
            </video>
          </div>
        {% endfor %}
      {% endmacro %}
      {{ videoSlides(slides) }}
    </div>
  </div>
  <div class="nav-overlay"></div>
  <div class="nav">
    <ul>
      <li>
        <a href="#" class="mute-btn" data-muted="true" role="button" tabindex="0">
          <span class="mute">Mute</span>
          <span class="unmute">Unmute</span>
        </a>
      </li>
      <li><a href="#" class="nav-btn" data-target="reviews-carousel" role="button" tabindex="0" >Reviews</a></li>
      <li><a href="#" class="nav-btn" data-target="faqs" role="button" tabindex="0" >FAQs</a></li>
      <li class="email-btn">
        <a href="#" class="nav-btn" data-target="email" role="button" tabindex="0" role="button" tabindex="0" >Save Now</a>
      </li>
      <li><a href="#" class="nav-btn" data-target="cta" role="button" tabindex="-1" >Lull</a></li>
    </ul>
    <a href="/shop" class="btn btn-md" role="button" tabindex="-1">Shop the Mattress</a>
  </div>

  <section class="reviews-carousel navy" data-active="false">
    <div class="close"></div>
    {% for items in tweets %}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
              <h2>Join the Hundreds of Thousands<br>Of Happy Sleepers Who Love<br> Waking Up on a Lull Mattress</h2>
          </div>
          <div class="col-xs-12">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                
                {% for reviews in items.reviews %}
                <div class="swiper-slide">
                  <div class="item">
                      <h4 data-source-type="social" data-source="{{ reviews.source }}" data-reviewer="{{ reviews.name | safe }}" class="lazyload">{{ reviews.name | safe }}</h4>
                      <div class="review">
                        <p>{{ reviews.review | safe }}</p>
                      </div>
                  </div>
                </div>
                {% endfor %}
                
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
            {% if items.cta !== undefined %}
              {% for cta in items.cta %}
                <a href="{{ cta.link }}" class="btn btn-{{ cta.buttonType }}">{{ cta.text }}</a>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </section>

  <section class="faqs" data-active="false">
    <div class="close"></div>
    <div class="faqs-heading">
      <h2>Frequently Asked Questions</h2>
    </div>
    <div class="container faqs-container">
      <div class="row">
        {% macro faq(faqs) %}
          {% for faq in faqs %}
            <div class="faq-question">
              <div class="user icon"></div>
              <h3>{{ faq.username }}</h3>
              <p>{{ faq.question }}</p>
              <p class="date">{{ faq.date }}</p>
              <div class="faq-answer">
                <div class="logo icon"></div>
                <h3>
                  lull <span class="checkmark icon"></span> 
                  <span class="teal"> <sup>.</sup></span> 
                  <span class="pink">Creator</span>
                </h3>
                <p>{{ faq.answer }}</p>
                <p class="date">{{ faq.date }}</p>
              </div>
            </div>
          {% endfor %}
        {% endmacro %}
        <div class="faqs-content col-xs-12">
          {{ faq(faqs) }}
        </div>
      </div>
    </div>
  </section>

  <section class="email" data-active="false">
    <div class="close"></div>
    <div class="email-capture container">
      <div class="row">
        <div class="col-xs-12">
          <h2>UP TO</h2>
          {% if mattressDiscount > 1 %}
            <h3 class="up-to"><sup>$</sup>{{ mattressDiscount }} OFF</h3>
          {% else %}
            {% set md = mattressDiscount * 100 %}
            <h3 class="up-to">{{ md }}<sup>%</sup> OFF</h3>
          {% endif %}
          <h4><span class="any-size">Lull Mattresses</span></h4>
          <h5>Fast, Free Shipping</h5>
        </div>
      </div>
      <div class="row">
        <form>
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <input id="modalEmail" type="email" placeholder="Enter email address" aria-label="Enter email address" required tabindex="2" />
            <div id="emailsuggdiv">
              <input type="hidden" id="emailsugg" />
            </div>

          </div>
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <button id="modalSubscribe" class="submit btn btn-teal btn-md" type="button" role="button" tabindex="6">
              Get  
              {% if mattressDiscount > 299 %}
                My Exclusive Offer
              {% elif mattressDiscount > 1 %}
                my ${{ mattressDiscount }} OFF
              {% else %}
                my {{ md }}% OFF
              {% endif %}
            </button>  
          </div>
        </form>
      </div>
      <p>This form is not presently configured to gather emails.</p>
    </div>
  </div>
  </section>

  <section class="cta" data-active="false">
    <div class="close"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>Hurry, Grab Your Lull Today!<br> Give it a Try Stress-Free</h2>
          <p>Unsure about buying a mattress online? <br>
            Try the Original Mattress in your home<br>
            for 365 Nights.</p>
          <p>Don't love it? Arrange a quick,<br> stress-free return.</p>
          <a class="btn btn-md block" href="/shop">Shop the Mattress</a>
        </div>
      </div>
    </div>
  </section>

</main>

<div class="slideshow-pagination">
  <div class="slideshow-btn slideshow-prev"></div>
  <div class="slideshow-btn slideshow-next"></div>
</div>
{{- _modals.financingModal(state, skus) -}}
	
{% endblock %}

{% block scripts %} 
  <script type="text/javascript">
    const swiper = new Swiper ('.slideshow', {
      loop: true,
      grabCursor: true,
      breakpointsInverse: true,
      centeredSlides: true,
      direction: 'vertical',
      speed: 750,
      mousewheel: {
        invert: true,
      },
      navigation: {
        nextEl: '.slideshow-next',
        prevEl: '.slideshow-prev',
      },
      on: {
        click: function() {
          const activeIndex = this.activeIndex;
          const activeSlide = document.getElementsByClassName('swiper-slide')[activeIndex];
          const activeSlideVideo = activeSlide.getElementsByTagName('video')[0];
          if (activeSlideVideo.paused) {
            activeSlideVideo.play();
          } else {
            activeSlideVideo.pause();
          }
        },
        transitionStart: function(){
          const videos = document.querySelectorAll('video');
          videos.forEach(video => {
            video.pause();
            video.currentTime = 0;
          });
        },
        transitionEnd: function(){
          const activeIndex = this.activeIndex;
          const activeSlide = document.getElementsByClassName('swiper-slide')[activeIndex];
          const activeSlideVideo = activeSlide.getElementsByTagName('video')[0];
          activeSlideVideo.play();
          activeSlideVideo.addEventListener('ended', (event) => {
            this.slideNext(); 
          });
        },
        slideChange: function(){
          const main = document.querySelector('main');
          main.setAttribute('data-active-slide', this.realIndex);
        }
      }
    });

    const navBtn = document.querySelectorAll('.nav-btn');
    navBtn.forEach(btn => { 
      btn.addEventListener('click', event => {
        if (event.which === 13 || event.type === 'click') {
          event.preventDefault();
          const target = btn.getAttribute('data-target');
          document.querySelector('main').setAttribute('data-active', true);
          const section = document.querySelectorAll('section');
          section.forEach(item => { 
            if (item.classList.contains(`${target}`)) {
              item.setAttribute('data-active', true);
            } else {
              item.setAttribute('data-active', false);
            }
          });
        }
      })
    });

    const muteBtn = document.querySelector('.mute-btn');
    muteBtn.addEventListener('click', event => {
      if (event.which === 13 || event.type === 'click') {
        event.preventDefault();
        let muted = muteBtn.getAttribute('data-muted') == 'true';
        muted = !muted;
        muteBtn.setAttribute('data-muted', muted);
        const videos = document.querySelectorAll('video');
        videos.forEach(video => {
          video.muted = muted;
        });
      }
    });

    const closeBtn = document.querySelectorAll('.close');
    closeBtn.forEach(btn => { 
      btn.addEventListener('click', event => {
        if (event.which === 13 || event.type === 'click') {
          const section = document.querySelectorAll('section');
          section.forEach(item => { 
            item.setAttribute('data-active', false);
          });
          document.querySelector('main').setAttribute('data-active', false);
        }
      })
    });

    const overlay = document.querySelector('.nav-overlay');
    overlay.addEventListener('click', event => { 
      if (event.which === 13 || event.type === 'click') {
        const section = document.querySelectorAll('section');
        section.forEach(item => { 
          item.setAttribute('data-active', false);
        });
        document.querySelector('main').setAttribute('data-active', false);
      }
    });
       
    var reviewsCarousel = new Swiper ('.reviews-carousel .swiper-container', {
      loop: true,
      grabCursor: true,
      breakpointsInverse: true,
      centeredSlides: true,
        breakpoints: {
          0: {
            slidesPerView: 1,
            spaceBetween: 30
          },
        },
      
      pagination: {
        el: '.reviews-carousel .swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.reviews-carousel .swiper-button-next',
        prevEl: '.reviews-carousel .swiper-button-prev',
      }
    });

    {# email capture  - this is not enabled at present #}

    var emailInput = document.getElementById('modalEmail');
    var emailSubmit = document.getElementById('modalSubscribe');

    function errorAlert() {
      $(emailInput).addClass('error');
      $(emailSubmit).addClass('error');
    }

    $(emailInput).focus(function() {
      $(emailSubmit).addClass('focus').removeClass('error');
      $(emailInput).removeClass('error');
    });

    $('#modalEmail').on('blur', function() {
      $(emailSubmit).removeClass('focus');
      $('#modalEmail').val(this.value.trim().toLowerCase());
    });

    // function emailSubscribe(event) {
      // Lull.subscribe('#modalEmail', errorAlert, function(email) {
      //   dataLayer.push({
      //     'event': 'custom_event',
      //     'eventCategory': 'identity',
      //     'eventAction': 'email submit',
      //     'eventLabel': 'subscribe form',
      //     'eventProperty': email,
      //     'eventValue': 0.0,
      //     'eventName': 'user-identify',
      //     'email': email,
      //     'user_id': email
      //   });
      //   Lull.cookies.set('lullSubscriber', true, 1000);
      //   window.location.href='/mattresses'
      // },'Enter email to save ${{ mattressDiscount }}');
    // }
    // $('#modalSubscribe').click(emailSubscribe);
  </script>
{% endblock %}