{% extends "./src/client/views/_layout_home.html" %}
{% import "./src/client/views/_css.html" as _css %}
{% import "./src/client/views/_js.html" as _js %}
{% import "./src/client/views/_modules.html" as _modules %}

{% block styles %}
  {{ _css.common() }}
  {{ _css.mattressAnimation() }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block meta %}
  <meta name="description" content="{{ description }}">
{% endblock %}

{% block content %}
  <section class="mattress-3d" data-current="1">
    <div class="container-fluid">
      <div class="row visible-xs visible-sm">
        <div class="heading col-xs-12">
          <h2>Four Premium Layers Bring Better Rest</h2>
          <h3>Four layers of premium foam work together to provide<br class="visible-sm"> 
            active cooling, comfort, and therapeutic support</h3>
        </div>
      </div>
      <div class="content row">
        
        <div class="layers col-xs-12 col-sm-6">
          <div class="frame" data-current="default">
            <div class="stage">
              {% for i in range(1, 6) %}
                <div class="layer lazyload" data-slide="{{ i }}" 
                  role="img" aria-label="Layer {{ i }}">
                  <div class="lazyload"></div><div class="lazyload"></div>
                </div>
              {% endfor %}
            </div>
            <div class="dots">
              {% for i in range(1, 5) %}
                {% set active = loop.index == 1 %}
                <button data-slide="{{ i }}" role="button" data-active="{{ active }}" aria-label="Layer {{ i }}" tabindex="0"><span></span></button>
              {% endfor %}
            </div>
          </div>
        
        <a class="photo-anchor"></a>
      </div>

      <div class="details col-xs-12 col-sm-6">
        <div class="row">
          <div class="heading col-xs-12 hidden-xs hidden-sm">
            <h2>Four Premium Layers<br> Bring Better Rest</h2>
            <h3>Four layers of premium foam work together to provide<br class="visible-sm"> 
              active cooling, comfort, and therapeutic support</h3>
          </div>
        </div>
        <div class="frame" data-current="1">
          <div class="stage">
            {% for layer in layers %}
              <div data-slide="{{ loop.index }}">
                <h4 data-slide="{{ loop.index }}">{{ layer.title }}</h4>
                <h3>{{ layer.details | safe }}</h3>
              </div>
            {% endfor %}            
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block scripts %}
{{ _js.swipeIt() }}
{{ _js.inViewport() }}
{{ _js.slideShow() }}
<script>
  const details = new SwipeIt('.mattress-3d .details .frame');
  const layersNav = document.querySelectorAll('.layers .dots button');
  layersNav.forEach(btn => {
    btn.addEventListener('click', event => {
      const dotsContainer = event.target.closest('div');
      slideshowDots(event.target, dotsContainer);
      const current = event.target.dataset.slide;
      document.querySelector('.mattress-3d .details .frame').setAttribute('data-current', current);
    })
  })

  function swipe(slide) {
    const current = slide.querySelector('.stage div[data-active="true"]').dataset.slide;
    document.querySelector('.layers .frame').setAttribute('data-current', current);
    const layers = document.querySelectorAll('.layer');
    layers.forEach(layer => {
      layer.setAttribute('data-active', false);
    })
    document.querySelector(`.layer[data-slide="${current}"]`).setAttribute('data-active', true);
  }
  details.on('swipeLeft',function(e) {
    nextSlide(e.target);
    swipe(e.target);
  })
  .on('swipeRight',function(e){
    prevSlide(e.target);
    swipe(e.target);
  });

  let animated = false;
  const anchor = document.querySelector('.mattress-3d .photo-anchor');
  const animation = (function() {
    $(anchor).inViewport(function(px) {
      if (px && !animated) {
        animated = true;
        const layers = document.querySelectorAll('.mattress-3d .layer');
        for (let i = 1; i < layers.length + 1; i++) {
          document.querySelector(`.mattress-3d .layer[data-slide="${i}"]`).classList.add(`bounce${i}`);
        }
        const btns = document.querySelectorAll('.mattress-3d .layers .dots button');
        btns.forEach(btn => { btn.classList.add('animate')});
        setTimeout(function() {
          for (let i = 1; i < layers.length + 1; i++) {
            let layer = document.querySelector(`.mattress-3d .layer[data-slide="${i}"]`);
            layer.classList.remove(`bounce${i}`);
            layer.setAttribute('style', 'opacity: 1;');
          }
        }, 2500);
      }
    });  
  })
  animation();
</script>
{% endblock %}