@import "compass";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "partials/svg";
@import "partials/variables";
@import "partials/mixins";
@import 'partials/layout';

$height: 50px;

// body {
//   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
//   margin: $height 0 0 0!important;
// }

[role="button"] {
  cursor: pointer;
}

// html {
//   scroll-behavior: smooth;
// }
nav {
  h1, h2 {
    font-family: 'Boogaloo', sans;
    font-weight: normal;
  }
  &#header-nav {
    background-color: $navy;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $height;
    z-index: 1060;
    margin: 0 auto;
    h2 {
      font-size: 26px;
      color: $white;
      margin: 1rem 0;
      line-height: 1;
      text-align: left;
      // border-bottom: 1px solid $gray-light;
      padding-bottom: 5px;
      @include mq(xsm) {
        font-size: vwl(18px);
        padding-bottom: vwl(5px);
      }
      @include mq(xxs) {
        font-size: vwp(20px);
        padding-bottom: vwp(5px);
      }
      span {
        color: $teal;
        font-weight: 500;
        font-size: 75%;
      }
    }
    p, li {
      color: $gray;
      font-size: 18px;
      line-height: 1.4;
      @include mq(xsm) {
        font-size: vwl(12px);
      }
      @include mq(xxs) {
        font-size: vwp(12px);
      }
    }
    ul {
      padding: 0;
      margin: 0;
      &.project-details {
        li {
          margin-bottom: 10px;
          list-style-type: none;
          padding-left: 30px;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            border: solid 2px $teal;
            top: 6px;
            left: 6px;
          }
          a {
            color: $teal;
            border-bottom: dotted 1px $teal;
            &:hover, &:focus {
              color: tint($teal, 20%);
              border-bottom-color: tint($teal, 20%);
            }
          }
        }
      }
      &.toggle-links {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        padding: 0 15%;
        li {
          display: flex;
          flex: 1;
          font-size: 16px;
        }
        a {
          width: 100%;
          padding: 60px 10px 30px 10px;
          border: solid 2px $teal;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
        }
        // span {
        //   margin: 25% 0;
        //   display: block;
        // }
      }
    }
    .container-fluid {
      position: relative;
      z-index: 2;
    }
    .row {
      display: flex !important;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: $height;
    }
    &[data-collapsed='true'] {
      .header-collapse {
        a.toggle-description {
          &::before {
            content: 'Expand';
          }
        }
        .arrow {
          transform: rotate(-90deg);
        }
      }
      .header-content {
        box-shadow: 0 0 30px 0 rgba($teal,.5);
      }
      .case-study {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
    &[data-collapsed='false'] {
      bottom: 0;
      .header-collapse {
        a.toggle-description {
          &::before {
            content: 'Collapse';
          }
        }
        .arrow {
          transform: rotate(90deg);
        }
      }
    }
    .case-study-nav {
      // margin-top: 30px;
      background: $navy;
      
      border-radius: 1.8rem 1.8rem 0 0;
      > div {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        &:last-of-type {
          justify-content: flex-start;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 33%;
            right: 33%;
            height: 1px;
            background: linear-gradient(to right,  rgba(86,219,214,0) 0%,rgba(86,219,214,1) 50%,rgba(86,219,214,0) 100%); 

          }
        }
        > div {
          display: flex;
          padding: 1rem 0 .5rem 0;
          &:first-of-type {
            a {
              border-left: none;
            }
          }
          &:last-of-type {
            a {
              border-right: none;
            }
          }
        }
      }
      a {
        padding: .5rem 2rem;
        color: $white;
        font-weight: 500;
        // &::after {
        //   // right: 38px;
        //   filter: invert(14%) sepia(22%) saturate(1296%) hue-rotate(155deg) brightness(92%) contrast(100%);
        // }
        font-size: 1.5rem;
        color: $white;
        font-weight: 500;
        position: relative;
        // border-left: solid 1px shade($teal, 50%);
        // border-right: solid 1px $teal;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 1px;
          background: linear-gradient(to bottom, rgba(86,219,214,0) 0%,rgba(86,219,214,1) 50%,rgba(86,219,214,0) 100%);
        }
        &:focus {
          outline: none;
        }
        &:hover, &:focus {
          color: tint($teal, 20%);
        }
      }
      .arrow {
        transition: .2s;
        // font-size: 150%;
      }
    }
  }
  &#page-nav {
    position: fixed;
    top: 0;
    left: calc(50% - 585px);
    bottom: 0;
    width: 190px;
    background-color: $cat2;
    z-index: 2;
    display: flex;
    align-items: center;
    
    h1 {
      font-size: 42px;
      line-height: 1;
      margin: 90px 0 0 0;
      color: $white;
      text-shadow: 3px 3px 0 rgba(0, 0, 0, .25);
    }
    h2 {
      background: none;
      font-size: 32px;
      color: $cat4;
      margin: 0;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    }
  }
  .nav-content {
    height: 620px;
    width: 100%;
    // background: pink;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: calc(50% - 120px);
    justify-content: flex-start;
    text-align: center;
  }
  $logo-height-xl: 240px;
  .logo-container {
    position: relative;
    width: 100%;
    display: flex;
    height: $logo-height-xl;
  }
  .logo {
    position: absolute;
    left: -30px;
    right: -30px;
    height: $logo-height-xl;
    background-color: $cat1;
    top: 0;
    border-radius: 50%;
    border: solid 8px rgba($white, .85);
    border-left-width: 12px;
    border-right-width: 12px;
    text-align: center;
    // transform: rotate(-3deg);
  }
  .nav-links {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    li {
      font-size: 2.4rem;
      font-family: 'Boogaloo', sans-serif;
      line-height: 1.8;
      margin: 10px 0;
    }
    a {
      color: $white;
      border-bottom: solid 2px $cat4;
      transition: .2s;
      &:hover {
        border-bottom-color: transparent;
        text-decoration: none;
      }
    }
  }
}
.header-nav, .header-title {
  height: 100%;
  display: flex;
}
.header-nav {
  .prev, .next {
    // padding: 8px 15px;
    width: 30%;
    @include mq(sm) {
      width: 195px;
    }
  }
}
.header-nav {
  padding: 8px 15px;
  a {

  }
  $px: 35px;
  &.prev, &.next {
    a {
      display: flex;
      width: 100%;
      height: 100%;
      color: $teal;
      font-size: 16px;
      position: relative;
      align-items: flex-end;
      transition: .2s;
      padding-bottom: 4px;
      // span {
      //   width: 100%;
      // }
      // &::after {
      //   content: '';
      //   @include triangle(#000);
      //   @extend %svg;
      //   top: 2px;
      //   width: 30px;
      //   height: 30px;
      //   filter: invert(76%) sepia(29%) saturate(668%) hue-rotate(128deg) brightness(92%) contrast(101%);
      //   transition: .2s;
      //   opacity: .75;
      //   @include mq(sm) {
      //    position: absolute;
      //   }
      // }
      &:hover, &:focus {
        color: $white;
        outline: none;
        &::after {
          opacity: 1;
        }
      }
    }
    a {
      &::after {
        position: absolute;
      }
    }
  }
  &.prev {
    @include mq(xsm) {
      padding-left: 0;
    }
    a {
      text-align: left;
      padding-left: $px;
      &::after {
        left: 0;
        transform: rotate(180deg);
      }
    }
  }
  &.next {
    @include mq(xsm) {
      padding-right: 0;
    }
    a {
      // text-align: right;
      padding-right: $px;
      justify-content: flex-end;
      &::after {
        right: 0;
      }
    }
  }
  &.header-title {
    width: 100%;
    flex: 1;
    flex-direction: row;
    padding: 1rem 0;
    column-gap: 15px;
    h1 {
      color: $white;
      border: none;
      margin: 0;
      font-size: 2.5rem;
    }
    > a {
      width: 40px;
      height: 30px;
      border-radius: 8px;
      display: flex;
      color: $teal;
      font-size: 16px;
      position: relative;
      align-items: flex-end;
      transition: .2s;
      justify-content: center;
      background: shade($navy, 50%);
      border: solid 1px tint($navy, 50%);
      padding-bottom: 2px;
      &::after {
        content: '';
        @extend %svg;
        top: 2px;
        filter: invert(76%) sepia(29%) saturate(668%) hue-rotate(128deg) brightness(92%) contrast(101%);
        transition: .2s;
        opacity: .75;
        width: 45px;
        height: 23px;
        @include mq(sm) {
          position: absolute;
        }
      }
      &:hover, &:focus {
        border: solid 1px $teal;
        outline: none;
        background-color: $teal;
        &::after {
          filter: invert(12%) sepia(7%) saturate(6404%) hue-rotate(159deg) brightness(90%) contrast(93%);
        }
      }
      &.home {
        // position: absolute;
        // left: 560px;
        &::after {
          @include new-home(#000);
        }
      }
      &.about {
        &::after {
          @include letter-i(#000);
        }
      }
      // &.toggle-description {
      //   width: 100%;
      //   @include mq(sm) {
      //     width: 180px;
      //   }
      //   &::after {
      //     transform: rotate(90deg);
      //     right: 15px;
      //     width: 15px;
      //     transition: .2s;
      //     position: relative;
      //     top: 3px;
      //     right: auto;
      //   }
        
      // }
    }
  }
}
.header-title {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
  h1 {

  }
}
.header-content {
  position: fixed;
  left: calc(50% - 300px);
  width: 600px;
  z-index: 1;
  transition: .4s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba($white, 1);
  box-shadow: 0 0 45px 0 rgba($navy,.85);
  border: solid 2px rgba($white, .5);
  @include mq(sm) {
    // right: calc(100% - 600px);
    justify-content: center;
  }
  &.top {
    top: 50px;
    border-radius: 0 0 2rem 2rem;
    border-top: none;
    display: none;
  }
  &.bottom {
    bottom: 0;
    border-radius: 2rem 2rem 0 0;
    border-bottom: none;
  }
  .case-study {
    padding: 30px 30px 15px 30px;
    width: 600px;
    flex-shrink: 0;
    transition: .2s;
    @include mq(xsm) {
      width: 100vw;
      padding: 75px 30px 0 15px;
    }
    // @include mq(xxs) {
    // }
  }
}
.header-collapse {
  // position: absolute;
  // background: $cat1;
  // right: 0;
  // height: 30px;
  // top: 0;
  
  // border-radius: 0 1.5rem 0 0;
  // padding: .75rem 2rem .5rem 1rem;
  .arrow {
    
    position: absolute;
  }
}
.header-overlay {
  background: rgba($navy, .75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}